// Colors
$primary-color: #383e42;
$white: #fff;
$black: #000;
$yellow: #bea537;
$red: #e3120b;
$lightgrey: #f6f6f7;
$darkgrey: #949494;
$blue: #21677d;
$darkbg: #121212;

// font-size
$small: 13px;
$medium-small: 14px;
$medium: 18px;
$medium-large: 20px;
$large: 30px;
$x-large: 34px;

// font-weight
$normal: 100;
$bold: 600;

// Breakpoints
$desktop: 1024px;
$notebook: 995px;
$tablet: 768px;
$mobile: 425px;